<a href="https://colab.research.google.com/github/abrahamzetz/hyperisland/blob/module4_data_analysis/CSV_to_db.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Setup

This is the same setup like what Andrea showed us on the Bootcamp.

In [ ]:
# Load some libraries we need
import pandas as pd
%load_ext google.colab.data_table
import sqlite3 as sql

In [ ]:
# Mount Goole Drive
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)
% cd gdrive/MyDrive/Colab\ Notebooks

In this case I will use hyper_jobs.db that Andrea shared with us.

What you need to do is go to your Google Drive, make a copy of the hyper_jobs.db, and rename the copy to anything of your choice.

For the sake of this exercise I will name it your.db

In [ ]:
# We connect to the database
# Be careful to the path, better to copy/paste it
db_conn = sql.connect("/content/gdrive/MyDrive/your.db")
#You can change your.db to the name of the database that you have just copied

#Importing .csv to .db

Now we want to import the .csv file into a table in our database.

For this method to work, you have to upload your .csv files to your Google Drive.

I created a folder called data to make it clean, but you can do what works best for you

In [ ]:
#import csv to DataFrame

path = "/content/gdrive/MyDrive/data/da23crew.csv"
#In this example, I uploaded da23crew.csv file into the data folder I just created.
#You can change the name to your .csv file, and make sure the path is correct.
#If you didn't create a folder called data, then remove the /data path

df = pd.read_csv(path)
# Dataset is now stored in a Pandas Dataframe

In [ ]:
#check if data is correctly stored in DataFrame, you should see your table displayed properly
print (df)

Now the table has been stored to a DataFrame, which in my understanding is a temporary storage (correct me if I'm wrong).

To put it permanently to a table, do the following

In [ ]:
#convert the data from DataFrame to SQL table

df.to_sql
#You can change table_name to whatever you want to name your table as.
#If there is already a table with the same name, the content will be replaced by the new one

You can see the tables you have in the .db file by running the following.

(You'll notice irrelevant tables like employers, jobs, cities, etc. Don't worry about it now)

In [ ]:
#show all tables

pd.read_sql(
  """
        select *
        from sqlite_master
        
  """, db_conn)

You can repeat the steps in the importing .csv to .db section until you have added all the .csv files you need

#Deleting irrelevant tables

Since we're copy-pasting hyper_jobs.db, the old tables like employers, jobs, cities, etc are still included in your.db file.

Follow the steps below to delete them.

In [ ]:
#Deleting Table

#Creating a cursor object using the cursor() method
cursor = db_conn.cursor()

#Doping EMPLOYEE table if already exists
cursor.execute("DROP TABLE employers")
#You can change employers to the name of the table you want to delete

#After successful deletion, you should get the following text
print("Table dropped... ")

#Commit your changes in the database
db_conn.commit()

You can see the tables you have in the .db file by running the following.

In [ ]:
#show all tables

pd.read_sql(
  """
        select *
        from sqlite_master
        
  """, db_conn)

Repeat the steps above and change the name of the table until all the irrelevant tables are deleted.

#Goodbye

Now you'll be able to query with SQL using the template Andrea shared with us on Bootcamp like below

```
pd.read_sql(
  """
        SQL HERE
        SQL HERE
        SQL HERE

  """, db_conn)
```


    
So that's it!

Disclaimer:

I'm not at all a python expert. In fact, I haven't learned properly how to use python. 

This is just something I found online and was able to put together and tweak for me to use. Hope this helps!

Peace out,

Abraham